ATA_data.csv
datapathfile.py
datapathfile.pyc
*.pyc
Plots/*
.ipynb_checkpoints/
ATA2_data.csv
ATA_LIFTS.ipynb
ATA_Predictions-Copy1.ipynb
ATA_Predictions-Copy2.ipynb
ATA_Predictions-Copy3.ipynb
Categorical_Feature_Exploration.png
Click_Installs_Daily.png
Feat.png
Gains_Charts.png
Impressions_Installs_Daily.png
LA_Time.png
Lift_Charts.png
ROC.png
Validation_Lifts-Copy1.ipynb
Validation_Lifts.ipynb
.*
